<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
</head>
<body>
    <nav th:fragment="navigation" class="navbar navbar-expand navbar-dark bg-primary">
<!--        <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>-->
        <a class="navbar-brand" th:href="@{/}">
            <i class="fas fa-home fa-fw"></i>
            Administration panel
        </a>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown" sec:authentication="name"><i class="fa fa-user"></i> John Doe</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
<!--                        <a href="#" class="dropdown-item">Profile</a>-->
                        <form th:action="@{/logout}" method="POST">
                            <input type="submit" id="link-logout" class="dropdown-item" value="Logout"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div th:fragment="sidebar" class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li class="nav-item">
                <a th:href="@{/users}" class="nav-link">
                    <i class="fa fa-fw fa-link"></i>
                    Users
                </a>
            </li>
            <li class="nav-item"><a th:href="@{/authorities}" class="nav-link"><i class="fa fa-fw fa-link"></i> Authorities </a></li>>
        </ul>
    </div>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootadmin.min.js}"></script>

    <th:block th:fragment="decorate_tables">
        <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.datatable').DataTable();
            });
        </script>
    </th:block>

</body>
</html>